<app-header></app-header>
<div class="ui middle aligned grid container" id="login_form">
    <div class="row">
        <div class="four wide column"></div>
        <div class="eight wide column" id="login">
            
            <form class="ui large form segment" (submit)="loginUser($event)">
                <h3 class="ui header">Login</h3>
                <div class="field">
                    <label for="usuario">Usuario </label>
                    <input type="text" name="usuario" placeholder="ejemplo" #usuario>
                </div>
                <div class="field">
                    <label for="password">Contraseña </label>
                    <input type="password" name="password" placeholder="ejemplo" #password>
                </div>
                <input class="ui button" type="submit" value="Iniciar sesión">
                
                <div class="ui inverted divider"></div>
                <a [routerLink]="['/signup']">Registrarse</a>
                
            </form>
            
        </div>
    </div>
</div>
