h1{
    text-align: center;
}

.ui.button{
    color:black;
    border-color:lightgray;
    border-style: solid;
    border-width: 0.4px 0px;
    border-radius: 0px;
    background-color: white;
    /*background-color: #32CD32;*/
}

.ui.button:hover{
    /*
    background-color: #FFD700;
    */
    background-color:rgb(160, 90, 160);
    border-color:rgb(100, 40, 100);;
    color:white;
}

.fluid.ui.vertical.buttons{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#menu{
    margin-top: 10px;
}

#contenido_menu {
    border-radius: 3px;
}