<app-header></app-header>
<app-top-box></app-top-box>

<div class="ui grid container" id="pagina">
    <div class="row">
        <div class="four wide column" id="left-column"><app-left-column></app-left-column></div>
        <div class="twelve wide column" id="main-column">
            <app-titulo titulo="Subir algoritmo"></app-titulo>
            <form class="ui large form" (submit)="subir_modelo($event)">
                Nombre: <input type="text" name="name"><br>
                Descripción:<textarea name="description"></textarea><br>
                Imagen: <input type="file" name="imagen" accept="image/*"><br>
                Archivo: <input type="file" name="archivo" accept=".jar"><br>
                <div class="ui grid">
                    <div class="four wide column centered">
                        <input class="ui primary button" type="submit" value="Subir algoritmo" id="boton">
                    </div>
                </div>
            </form>
        </div>
        
    </div>
    
</div>
