

body{
    
    /*
    background-image:url("images/fondo2.jpg") !important;

    background-color: gray !important;
    */
    background-color: rgb(230, 230, 230)!important;

}



#main-column{
    padding-top:10px;
    border-radius: 5px;
    background-color: white;
}
