<app-header></app-header>
<app-top-box></app-top-box>
<div class="ui grid container" id="pagina">
    <div class="row">
        <div class="four wide column" id="left-column"><app-left-column></app-left-column></div>
        <div class="twelve wide column" id="main-column">
            <app-titulo titulo="Datos del perfil"></app-titulo>
            <form class="ui large form" (submit)="editar_perfil(name.value,surname.value,email.value)">
                Nombre: <input type="text" name="name" value="{{ this.user.name }}" #name><br>
                Apellido: <input type="text" name="surname" value="{{ this.user.surname }}" #surname><br>
                email: <input type="text" name="email" value="{{ this.user.email }}" #email><br>
                
                <div class="ui grid four wide column centered">
                    <input class="ui primary button" id="boton_submit" type="submit" value="Editar perfil">
                </div>
                
            </form>
        </div>
        
    </div>
    
</div>